<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User verification</title>
  </head>
  <body>
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const error = urlParams.get("error");
      const messsage = urlParams.get("message");

      const bodyContent = !error
        ? `<div>
             <h2>Email has been verified.</h2> 
             <h3>You can now login to your account.</h3>
           </div>`
        : `<p>${messsage}</p>`;

      document.body.innerHTML = bodyContent;
    </script>
  </body>
</html>
